# =========================
# Entornos virtuales Python
# =========================

.venv/
venv/
env/


# =========================
# Archivos compilados Python
# =========================

__pycache__/
*.py[cod]


# =========================
# Configuración de IDE
# =========================

.vscode/
.idea/


# =========================
# Variables privadas
# =========================

.env
.env.*


# =========================
# Logs
# =========================

*.log


# =========================
# Archivos temporales
# =========================

*.tmp
*.swp


# =========================
# Archivos subidos por usuarios
# =========================

uploads/*
!uploads/.gitkeep


# =========================
# Sistema operativo
# =========================

.DS_Store
Thumbs.db